<h1>Content list component</h1>
<app-modify-content-component (contentAdded)="ContentAdded($event)"></app-modify-content-component>


<form>
  <label>Enter title: </label>
    <input type="text" class="inputvalue" [(ngModel)]="searchTitle" name="title">
    <button type="button" class="button" (click)="mysearch()">Search</button>
</form>
<div *ngIf="message" [ngClass]="{'success': exist, 'error': !exist}">
    {{message}}
  </div><br> <br><br>   
  
  
  <h3>Photography 1</h3>
  <div class="Photography 1">
    <app-content-card  *ngFor="let item of content | contentPipe:'Photography 1'"   [item]="item"  ></app-content-card> 
  </div>
  
  <h3>Photography 2</h3>
    <div class="Photography 2">
      <app-content-card *ngFor="let item of content | contentPipe:'Photography 2'" [item]="item" ></app-content-card>
    </div>
    <h3>No classification</h3>
    <div class="content-list-container">
      <app-content-card *ngFor="let item of content | contentPipe:''" [item]="item" ></app-content-card>
    </div>